<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Registro de Galerias</title>
</head>
<body style="background-color: white">
	<header th:replace="master/master :: header"> </header>


	<div class="container">

		<hr style="background-color: gold" />
		<div
			style="font-size: 28px; color: black; font-weight: 60; font-family: fantasy;">Actualizar Galeria</div>
		<hr style="background-color: black; font-weight: 20" />
		<hr style="background-color: gold" />

		<div class="row">

			<div class="col-8">
				<form th:action="@{/galerias/modificar}" th:object="${gal}"
					method="post">

					<div class="col-sm-20">
						<label class="form-label" style="font-weight: 600">Id: </label><input
							type="text" th:field="*{idGaleria}" class="form-control"></input>
					</div>
					<ul></ul>

					<div class="col-sm-20">
						<label class="form-label" style="font-weight: 600">Nombre
							de Galeria: </label><input type="text" th:field="*{nombreGaleria}"
							class="form-control"></input>
					</div>
					<ul></ul>

					<div class="col-sm-20">
						<label class="form-label" style="font-weight: 600">Cantidad
							de Juegos: </label><input type="text" th:field="*{cantidadJuegos}"
							class="form-control"></input>
					</div>
					<ul></ul>
					<hr />

					<div class="col-sm-20">
						<input type="submit" value="Update" class="btn btn-dark"></input>
					</div>

				</form>
			</div>

			<div class="col" align="center">
				<img th:src="@{/image/update1.png}" width="300" height="320"
					align="middle">
			</div>
		</div>
	</div>


	<footer th:fragment="footer" class="container">
		<hr style="background-color: black" />
		<p align="center">G-Point en web 2022</p>
	</footer>


</body>
</html>
