<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8">
<title>SX61</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>

</head>
<body style="background-color: white">

	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/welcome/bienvenido}"><img
					th:src="@{/image/logo.png}" width="120" height="50"></img></a>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">

						<li class="nav-item dropdown"
							sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarScrollingDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> Usuario </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" th:href="@{/usuarios/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item" th:href="@{/usuarios/listar}">Listar</a></li>
							</ul></li>



						<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> Resena </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/resenas/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item" th:href="@{/resenas/listar}">Listar</a></li>

							</ul></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> Categorias </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/categorias/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/categorias/listar}">Listar</a></li>

							</ul></li>




						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> Galeria </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/galerias/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item" th:href="@{/galerias/listar}">Listar</a></li>

							</ul></li>
							
							
							<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> Detalle Galeria </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/detallegalerias/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item" th:href="@{/detallegalerias/listar}">Listar</a></li>

							</ul></li>

						<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black" > Calificacion </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item"
									th:href="@{/calificaciones/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/calificaciones/listar}">Listar</a></li>

							</ul></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> Popularidad </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item"
									th:href="@{/popularidades/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/popularidades/listar}">Listar</a></li>

							</ul></li>



						<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_DEVELOPER')"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> Clasificacion</a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item"
									th:href="@{/clasificaciones/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/clasificaciones/listar}">Listar</a></li>

							</ul></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> Juego</a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/juegos/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item" th:href="@{/juegos/listar}">Listar</a></li>

							</ul></li>


						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> Transacc</a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item"
									th:href="@{/transacciones/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/transacciones/listar}">Listar</a></li>

							</ul></li>

						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> Notifi</a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item"
									th:href="@{/notificaciones/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/notificaciones/listar}">Listar</a></li>

							</ul></li>
		
						<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')" ><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> Detalle Reseña</a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item"
									th:href="@{/detalleresenas/nuevo}">Registrar</a></li>
								<li><a class="dropdown-item"
									th:href="@{/detalleresenas/listar}">Listar</a></li>

							</ul></li>


						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarScrollingDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> Perfil </a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" th:href="@{/personas/nuevo}">Perfil</a></li>

								<li>

									<form id="logoutForm" th:action="@{/logout}" method="post">
										<button class="btn btn-dark" type="submit">Cerrar</button>

									</form>

								</li>


							</ul></li>
						<li class="nav-item dropdown" style="align-content: right"><a
							id="navbarScrollingDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"
							style="color: black"> <span sec:authentication="name"></span>
						</a></li>

					</ul>
				</div>
			</div>
		</nav>

	</header>
	

	<br>
	<br>
	<br>
	<br>
	<div class="container py4"></div>

	<footer th:fragment="footer" class="container">
		<p>Programación en web 2022</p>
	</footer>
</body>
</html>
