<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
</head>
<body style="background-color: white">

	<header th:replace="master/master :: header"></header>
	<div class="container">

		<hr style="background-color: gold" />
		<div
			style="font-size: 28px; color: black; font-weight: 60; font-family: fantasy;">Lista
			de Popularidad</div>
		<hr style="background-color: black; font-weight: 20" />
		<hr style="background-color: gold" />

		<div>
			<div class="table-responsive">
				<table class="table" border=1 style="background-color: gold">
					<thead align="center" class="bg-warning">
						<tr>
							<th>Id</th>
							<th>Tipo de Popularidad</th>
							<th>Eliminar</th>
							<th>Actualizar</th>
						</tr>
					</thead>

					<tbody class="bg-dark text-white">
						<tr th:each="p:${listaPopularidades}">
							<td th:text="${p.idPopularidad}" align="center"></td>
							<td th:text="${p.tipoPopularidad}" align="center"></td>
							<!-- OPERACIONES -->
							<td align="center"><a
								th:href="@{/popularidades/eliminar?id=}+${p.idPopularidad}"><img
									th:src="@{/image/delete.png}" width="30" height="30"></a></td>
							<td align="center"><a
								th:href="@{'/popularidades/irmodificar/'+${p.idPopularidad}}"><img
									th:src="@{/image/update.png}" width="30" height="30"></a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<hr>
		<div class="container-fluid">
			<h1>¿Cómo medir el éxito de un videojuego?</h1>
			<hr>
			<div class="row">
				<div class="col-sm">
					<img th:src="@{/image/piramide.png}">
				</div>
				<br>
				<div class="col-sm">
					<p>En G-Point utilizamos un sistema de popularidad medida en palabras clave, 
						estas nos permiten reconocer y etiquetar que juegos son los que tienen un nivel de 
						popularidad alto y por ende saber si es rentable para el desarrollador.</p>
					
				</div>
			</div>
		</div>
	</div>
	<footer th:fragment="footer" class="container">
		<hr style="background-color: black" />
		<p align="center">G-Point en web 2022</p>
	</footer>
</body>
</html>
