<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
</head>
<body style="background-color: white">

	<header th:replace="master/master :: header"></header>

	<div class="container">

		<hr style="background-color: gold" />
		<div
			style="font-size: 28px; color: black; font-weight: 60; font-family: fantasy;">Registrar Popularidad</div>
		<hr style="background-color: black; font-weight: 20" />
		<hr style="background-color: gold" />


		<div class="row">
			<div class="col-8">
				<form th:action="@{/popularidades/guardar}" th:object="${pop}"
					method="post">
					<ul></ul>
					<div class="col-sm-12">

						<label class="form-label" style="font-weight: 600">Tipo
							Popularidad:</label> <input type="text" th:field="*{tipoPopularidad}"
							class="form-control"></input>
					</div>
					<ul></ul>
					<hr />
					<div class="col-sm-12">

						<input type="submit" value="Registrar" class="btn btn-dark"></input>

					</div>

				</form>
			</div>

			<div class="col" align="center">
				<img th:src="@{/image/registro.png}" width="300" height="320"
					align="middle">
			</div>
		</div>
	</div>

	<footer th:fragment="footer" class="container">
		<hr style="background-color: black" />
		<p align="center">G-Point en web 2022</p>
	</footer>
</body>
</html>
