<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head"></head>
<meta charset="UTF-8"></meta>

<body style="background-color: white">

	<header th:replace="master/master :: header"></header>

	<div class="container">
		<hr style="background-color: gold" />
		<div
			style="font-size: 28px; color: black; font-weight: 60; font-family: fantasy;">Lista
			de Detalle de Reseñas:</div>
		<hr style="background-color: black; font-weight: 20" />
		<hr style="background-color: gold" />

		<div>

			<div class="table-responsive">
				<table class="table table-dark">
					<thead>
						<tr>
							<th>Reseña</th>
							<th>Usuario</th>
							<th>Juego</th>
							<th>Fecha de Publicación</th>
						</tr>
					</thead>
					<tbody id="dr-list">
						<tr th:each="dr:${listaDetalleResenas}">
							<td th:text="${dr.resena.mensaje}"></td>
							<td th:text="${dr.usuario.username}"></td>
							<td th:text="${dr.juego.nombreJuego}"></td>
							<td th:text="${#dates.format(dr.fechaPublicacion,'dd/MM/yyyy')}"></td>
						
						</tr>
					</tbody>
				</table>
				<div th:if="${mensaje}" class="alert alert-info">
					<p th:text="${mensaje}"></p>
				</div>
			</div>
		</div>
	</div>


	<footer th:replace="master/master :: footer"></footer>
</body>
</html>
